#contenedorTitulo {
    background-color: crimson;
}
#titulo {
    color: aliceblue;
    text-align: center;
}
#contenedorInformacion{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 187, 29);
    align-items: center;
    width: 300px;
    height: 200px;
    position: absolute;       
}
button{
    background-color: crimson;
}
#Pagina{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.palabrasContenidas{
    color: rgb(255, 255, 255);
    font-size: medium;
    font-style: normal;
}
body {
    background-color: khaki;
}